html {
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

@font-face {
  font-family: Biko;
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}

.flexi-h1{
    text-transform: none;
    letter-spacing: -.2px;
    margin-bottom: 10px;
    font-size: 32px;
}

@media only screen and (min-width: 600px) {
    .flexi-h1 {
        font-size: 38px !important;
    }
}


@media only screen and (min-width: 600px) {
    .flexi-h1 {
        font-size: 48px !important;
    }
}
