html {
    -webkit-font-smoothing: antialiased;
}

.loop {
    margin-top: 40px;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #3273dc;
    }
}

h1 {
    color: #e50050;
}


.content-section{
    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .heading{
        h1 {
            margin-top: 60px;
            color: #111;
            text-align: center;
        }

        .companion {
            color: #888;
            text-align: center;
            margin: 0 auto;
        }
    }

    .items{
        .year{
            font-size: 30px !important;
            font: 700 18px Open Sans,sans-serif;
            color: #aaa;
            margin: 50px auto 10px;
            text-transform: uppercase;
        }

        .date{
            font-size: 20px !important;
            color: #999;
            font: 14px Open Sans,sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 32px;
        }

        .title{
            text-transform: capitalize;
            font-size: 24px;
        }
    }
}


.content-item{
    .heading{
        margin-bottom: 60px;
        h1 {
            margin-top: 60px;
            text-align: center;
            text-transform: capitalize;
        }

        .companion {
            color: #888;
            text-align: center;
            margin: 0 auto;
        }
    }

    .content-body{
        p {
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 5px 0;
            line-height: 1.9;
            font-weight: 400;
            color: #333;
        }

        a{
            color: #111;
            text-decoration: none;
            border-bottom: 2px solid rgba(229, 0, 80, 0.7);

            &:hover{
                border-color: transparent;
            }
        }

        h2{
            font-size: 28px;
            font-weight: bold;
            font-family: "museo", serif;
            margin-top: 60px;
            margin-bottom: 20px;
            text-transform: capitalize;
        }

        ul{
            margin-left: 20px;
            list-style: square;
        }
    }
}