<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.BaseURL }}">
        reachme@midhunkrishna.in
        <!-- navbar items, navbar burger... -->
      </a>

      <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuIndex">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuIndex" class="navbar-menu">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
        <!-- <div class="navbar-item"> -->
        <!--   <a> Worked On </a> -->
        <!-- </div> -->

        <!-- <div class="navbar-item"> -->
        <!--   <a> Open Source </a> -->
        <!-- </div> -->

        <!-- <div class="navbar-item"> -->
        <!--   <a> Contact Me </a> -->
        <!-- </div> -->

        <div class="navbar-item">
          <a href="/posts"> Journal </a>
        </div>
      </div>
    </div>
  </div>
</nav>
